POSTGRES_DB=db_name
POSTGRES_USER=user_name
POSTGRES_PASSWORD=password
JWT_SECRET=this_is_secret
ALLOWED_ORIGINS=http://localhost,http://localhost:80,http://my-domain.com
ADMIN_SECRET=your_admin_secrt
NETWORK_IP=127.0.0.1_for_dev_OR_your_ip_address_for_prod
#change nginx's server_name in /nginx/conf.d/ if NEWORK_IP is not localhost
#addr 127.0.0.1 = localhost
#use 0.0.0.0 if you want to access the app from different devices on the same network as the host
#Only for production:
STORAGE_PATH=/path/to/ssd
SECURE_COOKIES=false
#all values are interpreted as strings even without "". Don't use spaces before or after =.
