POSTGRES_DB=db_name
POSTGRES_USER=user_name
POSTGRES_PASSWORD=password
JWT_SECRET=this_is_secret
ALLOWED_ORIGINS=http://localhost,http://localhost:80,http://localhost:5173,http://my-domain.com
ADMIN_SECRET=your_admin_secret
NETWORK_IP=127.0.0.1_for_dev_OR_your_ip_address
#addr 127.0.0.1 = localhost
#use 0.0.0.0 if you want to access the app from different devices on the same network as the host in dev
#Only for production:
DOMAIN=localhost #your domain if hosting with SSL, your IP if hosting on private network
STORAGE_PATH=/path/to/ssd
SECURE_COOKIES=false
#all values are interpreted as strings even without "". Don't use spaces before or after =.
#For analytics
#I selfhost Goat Counter (override available, but goatcounter not included)
HTPASSWD_PATH=/path/to/GoatCounter/.htpasswd